<div class="toast-container">
  @for (toast of ns.toasts(); track toast.id) {
    <div class="toast" [class]="'toast-' + toast.type">
      <div class="toast-header">
        <div class="toast-icon" [class]="'toast-icon-' + toast.type">
          {{ getIcon(toast.type) }}
        </div>
        <div class="toast-titles">
          <span class="toast-title">{{ toast.title }}</span>
          <span class="toast-time">{{ formatTime(toast.timestamp) }}</span>
        </div>
        <button class="toast-close" (click)="dismiss(toast.id)">×</button>
      </div>
      <div class="toast-message">{{ toast.message }}</div>
      <div class="toast-progress">
        <div
          class="toast-progress-bar"
          [class]="'progress-' + toast.type"
          [style.animation-duration.ms]="toast.duration"
        ></div>
      </div>
    </div>
  }
</div>
