<div class="desktop">

  <div class="desktop-icons">

    <div class="desktop-icon" (dblclick)="openNotepad()">
      <div class="icon notepad-icon">
        <div class="notepad-lines">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
      <span>Notepad</span>
    </div>

    <div class="desktop-icon" (dblclick)="openCalculator()">
      <div class="icon calculator-icon">
        <div class="calc-screen"></div>
        <div class="calc-buttons">
          <span></span><span></span><span></span>
          <span></span><span></span><span></span>
        </div>
      </div>
      <span>Calculator</span>
    </div>

    <div class="desktop-icon" (dblclick)="openCmd()">
      <div class="icon cmd-icon">
        <span class="cmd-text">C:\&gt;_</span>
      </div>
      <span>Command Prompt</span>
    </div>

  </div>

  @for (win of windows(); track win.id) {
    @if (win.state !== 'minimized') {
      <app-window [window]="win">
        @if (win.component === 'notepad') {
          <app-notepad />
        } @else if (win.component === 'calculator') {
          <app-calculator />
        } @else if (win.component === 'cmd'){
          <app-cmd />
        } @else {
          <div class="app-placeholder">
            <p>{{ win.title }}</p>
          </div>
        }
      </app-window>
    }
  }

  <app-taskbar />

</div>
