<div class="desktop">

  <div class="desktop-icons">

    <!-- Íconos fijos -->
    <div class="desktop-icon" (dblclick)="openNotepad()">
      <div class="icon notepad-icon">
        <div class="notepad-lines">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
      <span>Notepad</span>
    </div>

    <div class="desktop-icon" (dblclick)="openCalculator()">
      <div class="icon calculator-icon">
        <div class="calc-screen"></div>
        <div class="calc-buttons">
          <span></span><span></span><span></span>
          <span></span><span></span><span></span>
        </div>
      </div>
      <span>Calculator</span>
    </div>

    <div class="desktop-icon" (dblclick)="openCmd()">
      <div class="icon cmd-icon">
        <span class="cmd-text">C:\&gt;_</span>
      </div>
      <span>Command Prompt</span>
    </div>

    <div class="desktop-icon" (dblclick)="openPaint()">
      <div class="icon paint-icon"></div>
      <span>Paint</span>
    </div>

    <div class="desktop-icon" (dblclick)="openIE()">
      <div class="icon ie-desktop-icon"></div>
      <span>Internet Explorer</span>
    </div>

    <!-- Íconos dinámicos del Desktop -->
    @for (entry of desktopEntries(); track entry.name) {
      <div class="desktop-icon" (dblclick)="openEntry(entry)">
        <div [class]="getDesktopIconClass(entry)"></div>
        <span>{{ entry.name }}</span>
      </div>
    }

  </div>

  @for (win of windows(); track win.id) {
    @if (win.state !== 'minimized') {
      <app-window [window]="win">
        @if (win.component === 'notepad') {
          <app-notepad
            [filePath]="win.extra?.['path']"
            [initialFile]="win.extra?.['fileName']"
          />
        } @else if (win.component === 'calculator') {
          <app-calculator />
        } @else if (win.component === 'cmd') {
          <app-cmd />
        } @else if (win.component === 'documents') {
          <app-documents [initialPath]="win.extra?.['path']" />
        } @else if (win.component === 'pictures') {
          <app-pictures />
        } @else if (win.component === 'computer') {
          <app-computer />
        } @else if (win.component === 'controlpanel') {
          <app-control-panel />
        } @else if (win.component === 'paint') {
          <app-paint />
        } @else if (win.component === 'taskmanager') {
          <app-task-manager />
        } @else if (win.component === 'ie') {
          <app-internet-explorer />
        } @else {
          <div class="app-placeholder"><p>{{ win.title }}</p></div>
        }
      </app-window>
    }
  }

  <app-taskbar />

</div>
