<div class="taskbar" (click)="closeStartMenu()">

  <button
    class="start-button"
    [class.active]="showStartMenu()"
    (click)="$event.stopPropagation(); toggleStartMenu()"
  >
    <div class="start-orb">
      <div class="start-logo">
        <span class="logo-tl"></span>
        <span class="logo-tr"></span>
        <span class="logo-bl"></span>
        <span class="logo-br"></span>
      </div>
    </div>
  </button>

  @if (showStartMenu()) {
    <div class="start-menu" (click)="$event.stopPropagation()">
      <div class="start-menu-header">
        <div class="user-avatar">
          <div class="avatar-icon">
            <div class="avatar-head"></div>
            <div class="avatar-body"></div>
          </div>
        </div>
        <span class="user-name">{{ settings.username() }}</span>
      </div>
      <div class="start-menu-body">
        <div class="start-menu-left">
          <div class="start-menu-item" (click)="openApp('notepad')">
            <div class="menu-icon notepad-sm"></div>
            <span>Notepad</span>
          </div>
          <div class="start-menu-item" (click)="openApp('calculator')">
            <div class="menu-icon calculator-sm"></div>
            <span>Calculator</span>
          </div>
          <div class="start-menu-item" (click)="openApp('cmd')">
            <div class="menu-icon cmd-sm"></div>
            <span>Command Prompt</span>
          </div>
          <div class="start-menu-divider"></div>
          <div class="start-menu-item" (click)="openApp('documents')">
            <div class="menu-icon folder-sm"></div>
            <span>Documents</span>
          </div>
          <div class="start-menu-item" (click)="openApp('pictures')">
            <div class="menu-icon pictures-sm"></div>
            <span>Pictures</span>
          </div>
        </div>
        <div class="start-menu-right">
          <div class="start-menu-item-right" (click)="openApp('documents')">
            <div class="menu-icon-right folder-sm"></div>
            <span>Documents</span>
          </div>
          <div class="start-menu-item-right" (click)="openApp('pictures')">
            <div class="menu-icon-right pictures-sm"></div>
            <span>Pictures</span>
          </div>
          <div class="start-menu-item-right" (click)="openApp('computer')">
            <div class="menu-icon-right computer-sm"></div>
            <span>Computer</span>
          </div>
          <div class="start-menu-item-right" (click)="openApp('controlpanel')">
            <div class="menu-icon-right controlpanel-sm"></div>
            <span>Control Panel</span>
          </div>
          <div class="start-menu-divider"></div>
          <div class="start-menu-item-right shutdown" (click)="shutdown()">
            <div class="menu-icon-right shutdown-sm"></div>
            <span>Shut Down</span>
          </div>
        </div>
      </div>
    </div>
  }

  <div class="taskbar-windows">
    @for (win of windows(); track win.id) {
      <button
        class="taskbar-btn"
        [class.active]="win.isFocused && win.state !== 'minimized'"
        [class.minimized]="win.state === 'minimized'"
        (click)="onWindowClick(win)"
      >
        <div class="taskbar-btn-icon" [class]="'taskbar-btn-icon icon-' + win.component"></div>
        <span class="taskbar-btn-title">{{ win.title }}</span>
      </button>
    }
  </div>

  <div class="system-tray">
    <div class="tray-icons">
      <div class="tray-icon network"></div>
      <div class="tray-icon volume"></div>
    </div>
    <div class="clock">
      <span class="clock-time">{{ time() }}</span>
      <span class="clock-date">{{ date() }}</span>
    </div>
    <div class="show-desktop" title="Show Desktop"></div>
  </div>

</div>
